<!DOCTYPE html>
<html>
<head>
  <title>doc</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="/files/normalize.css">
  <link rel="stylesheet" href="/files/milligram.css">
  <link rel="stylesheet" href="/files/styles.css">
</head>

<body class="home">
<main>
  <div class="container">
    <div class="row">
      <h1 class="title"><a href="/">doc</a></h1>
    </div>

    <div class="row">
      <div class="column column-50">
        <h3 class="subtitle">squad | projeto | versão</h3>
      </div>

      <div class="column column-25 column-offset-25">
        <select onchange="goToSquad()">
          <option value="" disabled selected style="display:none;">squads</option>
            {{range $index, $element := .Squads}}
              <option value="{{$element}}">{{$element}}</option>
            {{end}}
        </select>
      </div>
    </div>

    <div class="row">
      <ul>
          {{range $index, $element := .Docs}}
            <li>
              <a href="/{{$element.DocUrl}}">{{$element.Squad}} > {{$element.Projeto}} > {{$element.Versao}}</a>
            </li>
          {{end}}
      </ul>
    </div>
  </div>
</main>
<script>
    function goToSquad() {
        var selectElement = document.getElementsByTagName("select")[0];
        window.location = document.getElementsByTagName("select")[0].options[selectElement.selectedIndex].value;
    }
</script>
</body>
</html>
