<!DOCTYPE html>
<html>
<head>
  <title>doc</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="/files/normalize.css">
  <link rel="stylesheet" href="/files/milligram.css">
  <link rel="stylesheet" href="/files/styles.css">
</head>

<body class="home">
<main>
  <div class="container">
    <div class="row">
      <h1 class="title"><a href="/">doc</a></h1>
    </div>

    <div class="row">
      <input id="busca" type="text" placeholder="buscar projeto" style="margin-bottom: 40px;margin-top: 15px;">
    </div>

    <div class="row">
      <div class="column column-50">
        <h3 class="subtitle">resultados para</h3>
      </div>
    </div>

    <div class="row">
      <ul>
          {{range $index, $element := .Docs}}
            <li>
              <a href="/{{$element.DocUrl}}">{{$element.Squad}} > {{$element.Projeto}} > {{$element.Versao}}</a>
            </li>
          {{end}}
      </ul>
    </div>

    <div id="pagination" class="row">
      <div class="pagination">
        <a href="#" class="prev">&laquo;</a>

        <div id="page-numbers"></div>

        <a href="#" class="next">&raquo;</a>
      </div>
    </div>
  </div>
</main>

<script>
    /*
    /* pagination
    */
    const backEndOffset = {{ .Results.Offset }};
    const limit = {{ .Results.Limit }};
    const total = {{ .Results.Total }};

    // subtitle
    pathname = window.location.pathname.split("/");
    document.querySelector(".subtitle").insertAdjacentText("beforeend", " \"" + pathname[pathname.length - 1] + "\"");
</script>

<script src="/files/scripts.js"></script>
</body>
</html>
